@font-face {
    font-family: Roboto;
    src: url(../../assets/Roboto-Medium.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(../../assets/Lobster-Regular.ttf);
}


h1{
    font-family: Lobster;
    font-size: 45px;
    font-weight: bold;
}

h2{
    font-family: Roboto;
    font-size: 36px;

}

h1,h2{
    position: relative;
    top: 25%;
}

div#div-left{
    position: absolute;
    height: calc(100% - 100px);
    width: 1000px;
    text-align: center;
}